/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/gtest
/libgtkhtml-4.0.la
/libgtkhtml-4.0.pc
/libgtkhtml.pc
/so_locations
/tags
/test-stress
/test-suite
/testgtkhtml
