/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/gtest
/libgtkhtml-3.14.la
/libgtkhtml-3.14.pc
/libgtkhtml.pc
/so_locations
/tags
/test-stress
/test-suite
/testgtkhtml
