/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/gtkhtml-editor-3.14.pc
/gtkhtml-editor-marshal.c
/gtkhtml-editor-marshal.h
/gtkhtml-editor-test
/gtkhtml-editor.pc
/gtkhtml-spell-marshal.c
/gtkhtml-spell-marshal.h
/libgtkhtml-editor-3.14.la
/so_locations
/tags
